<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<title>修改资料</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<!-- 
Tamarillo Template
http://www.templatemo.com/tm-399-tamarillo
-->
<meta name="author" content="" />
<!-- favicons -->
<link rel="shortcut icon" href="images/favicon.ico" />
<!-- bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- custom styles for this template -->
<link href="css/templatemo_style.css" rel="stylesheet" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="css/search-form.css">
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<span class="toggle-button">
			<div class="menu-bar menu-bar-top"></div>
			<div class="menu-bar menu-bar-middle"></div>
			<div class="menu-bar menu-bar-bottom"></div>
		</span>
		<div class="menu-wrap">
			<div class="menu-sidebar">
				<ul class="menu">
					<li th:if="${not islogin}"><a th:href="@{/login}">login</a></li>
					<li th:if="${islogin}"><img
							th:src="@{'images/userlogo/'+${user.userlogo}}"
							th:text="${user.name}" />
					</li>
					<li><a href="/">首页</a></li>
					<li class="menu-item-has-children" ><a
						href="/article">文章</a> <span class="sidebar-menu-arrow"></span>
						<ul class="sub-menu">
							<li><a href="/topic?subject=emotion">情感</a></li>
							<li><a href="/topic?subject=program">编程</a></li>
							<li><a href="/topic?subject=share">分享</a></li>
						</ul>
					</li>
					<li><a href="/information">资讯</a></li>
					<li class="menu-item-has-children" th:if="${islogin}"><a
						th:href="@{/usercenter(user=${user.name})}">个人中心</a> <span class="sidebar-menu-arrow"></span>
						<ul class="sub-menu" th:if="${user.level} gt 0">
							<li><a href="/manage?write=writearticle">写文章</a></li>
							<li><a href="/manage?write=writeblog">写博客</a></li>
							<li th:if="${user.level} gt 1"><a href="/manage?write=upgallery">传相册</a></li>
							
						</ul>
					</li>
					<li></li>
					<li th:if="${islogin}"><a href="/quit">注销</a></li>
				</ul>
			</div>
		</div>
		<form onsubmit="return submitFn(this, event);" action="/forsearch"
			method="post">
			<div class="search-wrapper">
				<div class="input-holder">
					<input type="text" name="search" class="search-input"
						placeholder="Type to search" />
					<button class="search-icon" onclick="searchToggle(this, event);">
						<span></span>
					</button>
				</div>
				<span class="close" onclick="searchToggle(this, event);"></span>
				<div class="result-container"></div>
			</div>
		</form>
		<div class="container"></div>
	</header>
	<!-- end of templatemo_header -->


	<script type="text/javascript">
	function searchToggle(obj, evt){
		var container = $(obj).closest('.search-wrapper');

		if(!container.hasClass('active')){
			  container.addClass('active');
			  evt.preventDefault();
		}
		else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
			  container.removeClass('active');
			  // clear input
			  container.find('.search-input').val('');
			  // clear and hide result container when we press close
			  container.find('.result-container').fadeOut(100, function(){$(this).empty();});
		}
	}

	function submitFn(obj, evt){
		value = $(obj).find('.search-input').val().trim();

		_html = "Yup yup! Your search text sounds like this: ";
		if(!value.length){
			_html = "Add some text friend :D";
			$(obj).find('.result-container').html('<span>' + _html + '</span>');
		    $(obj).find('.result-container').fadeIn(100);
			evt.preventDefault();
			return false;
	      
		}
		else{
			return true;
		}
	}
</script>

	<div class="container">
		<div class="solidline"></div>
	</div>
	<!-- solid line -->

	<section id="templatemo_contact">
		<div class="container">
			<div class="row" id="templatemo_contact_gray_wap">
				<div class="col-md-24 col-sm-24">
					<h1 class="margin_top">信息修改</h1>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-9  col-sm-18 col-sm-push-3">
					<form id="contact-form" action="#" th:action="@{/updateuser}"
						enctype="multipart/form-data" method="post">
						<label> <span th:text="${user.name}">昵称</span>
							
						</label> 
						<label>
							<span>年龄</span> <input name="age" type="text" id="email" maxlength="2" />
						</label> 
						<label>
							<span>性别</span>
							<select name="sex"><option valve="男" selected="selected">男</option>
												<option valve="女" >女</option></select>
						</label> 
						
						<label th:if="${user.level} gt 0"> 
							<span>头像</span> <input name="logo" type="file" id="subject" />
						</label>
						<label>
							<span>个性签名</span> <input name="autograph" type="text" maxlength="66" />
						</label>  
						<label>
							<button  type="submit">确认更新信息</button>
						</label>
					</form>
				</div>
			</div>
			<!-- end of row -->
			<div class="row" id="templatemo_footer">
				<div class="col-md-24">
					<p>Copyright  2017 gudeying</p>
				</div>
			</div>
			<!-- end of templatemo_footer -->
		</div>
		<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	</section>
	<!-- end of templatemo_contact -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollto.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- templatemo 399 tamarillo -->
</body>
</html>